* {
    margin : 0;
    padding:0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: "prompt", sans-serif;
}

.global {
    display : flex;
    justify-content: center;
    align-items: center;
    
   
}

.global > section,
.global > header,
.global > footer
 {
    flex : 0 1 var(--largeur-centrale);
    
    padding: 3rem 1rem;
 
   
    margin-top: 10px;
    margin-bottom: 75px;
    //background-color: rgba(0,0,0,.1);
    background-color: rgba(255,255,255,var(--tranparent-section));
}



#menu_entete{
    background-color: var(--couleur-arriere-menu);
    min-height: 10vh;
   
}




#entete, #footer{
    min-height: 20vh;
}
#entete{
    background-color: var(--couleur-arriere-entete);
    color : var(--couleur-entete);
    position: relative;
    min-height: 40vh;
}

/* #entete nav{
 display: flex;
 align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

#entete nav a{
margin-right: 20px;
padding: 10px;
text-decoration: none;
font-size: clamp(0.9rem, -2.156rem + 6vw, 1.75rem);

}

#accueil{
    background-color: var(--couleur-arriere-accueil);
    color : var(--couleur-accueil);
    
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color : var(--couleur-diagonal);
    z-index: 1;
}

#evenement h2,
#evenement h3,
#evenement h4,
#evenement h5,
#evenement h6{
    color : var(--couleur-diagonal);
}

.evenement_blockquote_arriere{
    background-color: var(--couleur-arriere-blockquote-evenement);
    color : var(--couleur-avant-blockquote-evenement);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-evenement);
}

.evenement_blockquote_avant{
    background-color: var(--couleur-avant-blockquote-evenement);
    color : var(--couleur-arriere-blockquote-evenement);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-evenement);
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
    color : var(--couleur-galerie);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color : var(--couleur-footer);
}

.accueil_blockquote_arriere{
    background-color: var(--couleur-arriere-blockquote);
    color : var(--couleur-avant-blockquote);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-entete);
}

.accueil_blockquote_avant{
    background-color: var(--couleur-avant-blockquote);
    color : var(--couleur-arriere-entete);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-entete);
}

.galerie_blockquote_arriere{
    background-color: var(--couleur-arriere-blockquote);
    color : var(--couleur-avant-blockquote);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-galerie);
}

.galerie_blockquote_avant{
    background-color: var(--couleur-avant-blockquote);
    color : var(--couleur-arriere-galerie);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-galerie);
}

.footer_blockquote_arriere{
    background-color: var(--couleur-arriere-blockquote);
    color : var(--couleur-avant-blockquote);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-footer);
}

.footer_blockquote_avant{
    background-color: var(--couleur-avant-blockquote);
    color : var(--couleur-arriere-footer);
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid var(--couleur-arriere-footer);
}



// pour version mobile

 @media (max-width: 768px){

    
    .global > section,
    .global > header,
    .global > footer {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        flex : 0 1 var(--largeur-centrale);
        justify-content: space-between;
        padding: 3rem 1rem;
     
        
        margin-top: 10px;
        margin-bottom: 75px;
        //background-color: rgba(0,0,0,.1);
        background-color: rgba(255,255,255,var(--tranparent-section));
    }
    
    .global > header{
        flex: 1;
        
       
    }
    
    #entete, #footer{
        min-height: 20vh;
    }
    #entete{
        background-color: var(--couleur-arriere-entete);
        color : var(--couleur-entete);
        position: relative;
        min-height: 50vh;
    }
    #accueil{
        background-color: var(--couleur-arriere-accueil);
        color : var(--couleur-accueil);
        
    }
    #evenement{
        background-color: var(--couleur-arriere-evenement);
        color : var(--couleur-diagonal);
        z-index: 1;
    }
    
    #evenement h2,
    #evenement h3,
    #evenement h4,
    #evenement h5,
    #evenement h6{
        color : var(--couleur-diagonal);
    }
    
    .evenement_blockquote_arriere{
        background-color: var(--couleur-arriere-blockquote-evenement);
        color : var(--couleur-avant-blockquote-evenement);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-evenement);
    }
    
    .evenement_blockquote_avant{
        background-color: var(--couleur-avant-blockquote-evenement);
        color : var(--couleur-arriere-blockquote-evenement);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-evenement);
    }
    
    #galerie{
        background-color: var(--couleur-arriere-galerie);
        color : var(--couleur-galerie);
        position: relative;
    }
    #footer{
        background-color: var(--couleur-arriere-footer);
        color : var(--couleur-footer);
    }
    
    .accueil_blockquote_arriere{
        background-color: var(--couleur-arriere-blockquote);
        color : var(--couleur-avant-blockquote);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-entete);
    }
    
    .accueil_blockquote_avant{
        background-color: var(--couleur-avant-blockquote);
        color : var(--couleur-arriere-entete);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-entete);
    }
    
    .galerie_blockquote_arriere{
        background-color: var(--couleur-arriere-blockquote);
        color : var(--couleur-avant-blockquote);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-galerie);
    }
    
    .galerie_blockquote_avant{
        background-color: var(--couleur-avant-blockquote);
        color : var(--couleur-arriere-galerie);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-galerie);
    }
    
    .footer_blockquote_arriere{
        background-color: var(--couleur-arriere-blockquote);
        color : var(--couleur-avant-blockquote);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-footer);
    }
    
    .footer_blockquote_avant{
        background-color: var(--couleur-avant-blockquote);
        color : var(--couleur-arriere-footer);
        padding: 1rem;
        margin: 1rem 0;
        border-left: 5px solid var(--couleur-arriere-footer);
    }

     }

 