:root {
    
    /*
    --couleur-arriere-entete : #68b3f5;
    --couleur-arriere-accueil : rgb(42, 170, 42);
    --couleur-arriere-evenement : #045;
    --couleur-arriere-galerie : rgb(231, 122, 20);
    --couleur-arriere-footer : #630;

    // niveau de transparence
    --transparent-h1 : .3;
    --transparent-h2 : .3;
    --transparent-h3 : .3;
    --transparent-h4 : .2;
    --transparent-h5 : .2;
    --transparent-h6 : .2;
    --transparent-section : .1;
*/

/* calcul des teintes */
// une teinte monocrome, 2 teinte complémentaire, 3 teinte triadique a 120°
--u1 :30; // couleur initiale
--u2 : calc(var(--u1) + 180); // couleur complémentaire
--u3 : calc(var(--u1) + 120); // couleur triadique


/* la saturation */
--s-arriere : 100%;
--s-avant : 50%;

/* la luminosité */
--l-arriere : 50%;
--l-avant : 10%;

/* couleur arrière plan - background-color */
// --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--l-arriere));
// --couleur-arriere-accueil : hsl(var(--u2), var(--s-arriere), var(--l-arriere));
// --couleur-arriere-evenement : hsl(var(--u3), var(--s-arriere), var(--l-arriere));
// --couleur-arriere-galerie : hsl(var(--u4), var(--s-arriere), var(--l-arriere));
// --couleur-arriere-footer : hsl(var(--u1), var(--s-arriere), var(--l-arriere));

/* couleur avant plan - color */
// --couleur-entete : hsl(var(--u1), var(--s-avant), var(--l-avant));
// --couleur-accueil : hsl(var(--u2), var(--s-avant), var(--l-avant));
// --couleur-evenement : hsl(var(--u3), var(--s-avant), var(--l-avant));
// --couleur-galerie : hsl(var(--u4), var(--s-avant), var(--l-avant));
// --couleur-footer : hsl(var(--u1), var(--s-avant), var(--l-avant));

// couleur monochrome
--couleur-arriere-entete : hsl(var(--u1), 100%, 70%);
--couleur-arriere-accueil : hsl(var(--u1), 100%, 75%);
 --couleur-arriere-evenement : hsl(var(--u1), 100%, 80%);
 --couleur-arriere-galerie : hsl(var(--u1), 100%, 85%);
--couleur-arriere-footer : hsl(var(--u1), 100%, 70%);


// 2 couleur complementaire background






//couleur pour les 2 blockquote avec la regle 60-30-10
--couleur-arriere-blockquote : hsl(var(--u1), 100%, 60%);
--couleur-avant-blockquote : hsl(var(--u1), 100%, 10%);


// bouton couleur background-image

--bouton-couleur-1 : hsl(var(--u2), 100%, 15%);
--bouton-couleur-2 : hsl(var(--u2), 100%, 20%);


// bouton couleur font
--bouton-couleur : hsl(var(--u3), 100%, 60%);


// couleur diagonal

--couleur-arriere-diagonal : hsl(var(--u2), 100%, 60%);
--couleur-diagonal : hsl(var(--u2), 100%, 20%);

// couleur blockquote dans evenement
--couleur-arriere-blockquote-evenement : hsl(var(--u2), 100%, 10%);
--couleur-avant-blockquote-evenement : hsl(var(--u2), 100%, 70%);


--couleur-lien : hsl(var(--u1), 100%, 10%);

--couleur-lien-hover : hsl(var(--u1), 100%, 30%);

--couleur-lien-visited : hsl(var(--u1), 100%, 40%);

--couleur-lien-visited-focus : hsl(var(--u1), 100%, 10%);





//--couleur-arriere-evenement : var(--couleur-arriere-accueil);
//--couleur-arriere-galerie : var(--couleur-arriere-accueil);

--couleur-entete : hsl(var(--u1), 100%, 30%);
--couleur-accueil : hsl(var(--u1), 100%, 25%);
--couleur-evenement : hsl(var(--u1), 100%, 20%);
--couleur-galerie : hsl(var(--u1), 100%, 15%);
--couleur-footer : hsl(var(--u1), 100%, 15%);

// couleur du background des cartes
--couleur-fond-carte : hsl(var(--u1), 100%, 90%);

// couleur pour les h dans carte
--couleur-h-carte : hsl(var(--u1), 100%, 20%);

// largeur des sections
--largeur-centrale: 1100px; /* Largeur modifiée */
}