.diagonal{
    position: relative;
    isolation: isolate;
    background: linear-gradient(180deg, var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-galerie) 50%);
}

.diagonal::after{
    content: '';
    position: absolute;
    inset: 0;
   color: var(--couleur-diagonal);
    background-color: var(--couleur-arriere-diagonal);
    z-index: -1;
    transform: skewY(-5deg);
    

}